table {
    border-collapse: collapse;
    border: 0.05em solid black;

    background-color: #b6ff00;
}

table caption {
    font-weight: bold;
    font-size: 125%;
    text-transform: uppercase;
}

.footnote {
    font-size: 75%;
    color: #666;
}

table caption,
table th,
table td,
.footnote {
    font-family: Arial, Helvetica, sans-serif;
    padding: .5em;
}

table td {
    border: solid 1px #C35E4D;
}

table tbody th {
    color: #630;
    border-bottom: solid 1px #C35E4D;
}

table thead th {
    background: #ffe4cd ;
    border-bottom: solid 3px #E75D49;
}

th span:hover {
    cursor: hand;
    cursor: pointer;
    color: white;
    background-color: #630;
}